@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap");
@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes navLinkFadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes navLinkFadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #faf1f1d5;
}

body {
  font-family: 'Barlow', sans-serif;
  font-size: 1.6rem;
  color: #818498;
}

.heading-primary {
  font-size: 4.7rem;
  text-transform: uppercase;
  letter-spacing: .8rem;
  font-family: "Fraunces";
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  margin-bottom: 4rem;
}

@media screen and (max-width: 375px) {
  .heading-primary {
    font-size: 3.7rem;
  }
}

.heading-secondary {
  font-size: 3.7rem;
  letter-spacing: .02rem;
  font-family: "Fraunces";
  color: rgba(0, 0, 0, 0.795);
  font-weight: 900;
}

@media screen and (max-width: 375px) {
  .heading-secondary {
    font-size: 2.7rem;
  }
}

.heading-tertiary {
  font-size: 2.7rem;
  letter-spacing: .02rem;
  font-family: "Fraunces";
  font-weight: 900;
}

@media screen and (max-width: 375px) {
  .heading-tertiary {
    font-size: 1.7rem;
  }
}

.heading-section {
  letter-spacing: .5rem;
  text-transform: uppercase;
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 1.8rem;
  color: #a7abae;
}

@media screen and (max-width: 992px) {
  .heading-secondary {
    font-size: 2.3rem;
  }
  .heading-tertiary {
    font-size: 1.7rem;
  }
}

.u-margin-bottom-medium {
  margin-bottom: 2rem;
}

.u-margin-bottom-big {
  margin-bottom: 6rem;
}

.u-margin-bottom-huge {
  margin-bottom: 8rem;
}

.u-margin-left-small {
  margin-left: 3rem !important;
}

.pull-right {
  float: right !important;
}

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  display: inline-block;
  -webkit-transition: all .2s;
  transition: all .2s;
  border-radius: 10rem;
  font-family: "Fraunces";
  border: none;
  cursor: pointer;
}

.btn:hover {
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
  -webkit-box-shadow: 0 0.5rem 2rem rgba(129, 132, 152, 0.2);
          box-shadow: 0 0.5rem 2rem rgba(129, 132, 152, 0.2);
}

.btn:hover::after {
  -webkit-transform: scaleX(1.5), scaleY(1.2);
          transform: scaleX(1.5), scaleY(1.2);
}

.btn:active {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.btn--white {
  background-color: #faf1f1d5;
  color: rgba(0, 0, 0, 0.795);
}

.btn--white:active {
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
}

.btn--yellow {
  background-color: #fad400;
  color: rgba(0, 0, 0, 0.795);
}

.btn--yellow:active {
  background-color: rgba(250, 212, 0, 0.3);
  color: rgba(0, 0, 0, 0.795);
}

.btn-text {
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  font-family: "Fraunces";
  color: rgba(0, 0, 0, 0.795);
  font-size: 1.4rem;
  font-weight: 900;
  margin: 0 1rem;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.btn-text::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 12rem;
  z-index: -5;
  border-radius: 10rem;
  margin-top: 1.5rem;
  height: 1rem;
}

.btn-text:hover::before {
  opacity: 1;
}

.btn-text--yellow::before {
  background-color: #fad400;
  opacity: .3;
  right: -1rem;
}

.btn-text--red::before {
  background-color: #fe7867;
  left: -1rem;
  opacity: .3;
}

.block {
  height: 50rem;
}

@media screen and (max-width: 375px) {
  .block {
    height: 31rem;
  }
}

.block__picture {
  width: 100%;
}

.block__picture--1 {
  background-image: url("../images/image-transform.jpg");
  background-size: contain;
}

@media screen and (max-width: 375px) {
  .block__picture--1 {
    background-image: url("../images/mobile/image-transform.jpg");
  }
}

.block__picture--2 {
  background-image: url("../images/image-stand-out.jpg");
  background-size: cover;
}

@media screen and (max-width: 375px) {
  .block__picture--2 {
    background-image: url("../images/mobile/image-stand-out.jpg");
  }
}

.block__text {
  padding: 15rem 10rem;
}

.block__services {
  text-align: center;
  padding: 40rem 18rem 16rem;
  font-size: 1.6rem;
}

.block__services--graphic {
  color: #25564b;
  background-image: url("../images/image-graphic-design.jpg");
  background-size: cover;
}

.block__services--photography {
  color: #19536b;
  background-image: url("../images/image-photography.jpg");
  background-size: cover;
}

.block_gallary {
  width: 100%;
}

.block_gallary--cone {
  background-image: url("../images/image-gallery-cone.jpg");
  background-size: cover;
}

@media screen and (max-width: 375px) {
  .block_gallary--cone {
    background-image: url("../images/mobile/image-gallery-cone.jpg");
  }
}

.block_gallary--milkbottles {
  background-image: url("../images/image-gallery-milkbottles.jpg");
  background-size: cover;
}

@media screen and (max-width: 375px) {
  .block_gallary--milkbottles {
    background-image: url("../images/mobile/image-gallery-milkbottles.jpg");
  }
}

.block_gallary--orange {
  background-image: url("../images/image-gallery-orange.jpg");
  background-size: cover;
}

@media screen and (max-width: 375px) {
  .block_gallary--orange {
    background-image: url("../images/mobile/image-gallery-orange.jpg");
  }
}

.block_gallary--sugarcubes {
  background-image: url("../images/image-gallery-sugarcubes.jpg");
  background-size: cover;
}

@media screen and (max-width: 375px) {
  .block_gallary--sugarcubes {
    background-image: url("../images/mobile/image-gallery-sugar-cubes.jpg");
  }
}

@media screen and (max-width: 450px) {
  .block {
    height: 30rem;
  }
  .block__text {
    padding: 4rem 2rem;
  }
  .block__services {
    padding: 19rem 3rem 2rem;
    font-size: 1rem;
  }
}

@media screen and (max-width: 992px) and (min-width: 460px) {
  .block {
    height: 30rem;
  }
  .block__text {
    padding: 4rem 2rem;
  }
  .block__services {
    padding: 19rem 3rem 2rem;
    font-size: 1rem;
  }
}

.testomonial {
  padding: 0 1.9rem;
}

.testomonial__shape {
  margin-bottom: 8rem;
}

.testomonial__shape img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

.testomonial__text .name {
  font-family: "Fraunces";
  font-weight: 900;
  color: rgba(0, 0, 0, 0.795);
  margin-bottom: 1rem;
}

.testomonial__text span {
  color: #a7abae;
  font-size: 1.5rem;
}

@media screen and (max-width: 992px) {
  .testomonial {
    margin-bottom: 2rem;
  }
  .testomonial__shape {
    margin-bottom: 2rem;
  }
}

.header {
  height: 100vh;
  background-image: url("../images/image-header.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  color: white;
  position: relative;
}

.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3rem 5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 40%;
  list-style-type: none;
}

@media screen and (max-width: 1024px) {
  .header__navigation ul {
    width: 55%;
  }
}

.header__navigation ul li {
  font-weight: 700;
}

.header__navigation ul li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.85);
  font-size: 1.6rem;
}

.header__navigation--burger {
  display: none;
  cursor: pointer;
}

.header__navigation--burger div {
  width: 25px;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.85);
  margin: .5rem;
}

.header__logo-box {
  max-width: 124px;
}

.header__text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 70%;
  width: 100%;
}

.header__text-box a img {
  width: 25px;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-animation: moveInBottom .5s ease-out .75s;
          animation: moveInBottom .5s ease-out .75s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.header__text-box a img:hover {
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
}

.header__text-box a img:hover::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all .4s;
  transition: all .4s;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .header__navigation ul {
    position: absolute;
    right: 6rem;
    height: 0;
    top: 11vh;
    width: 40%;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 99;
    -webkit-transition: height 0.5s ease-in;
    transition: height 0.5s ease-in;
  }
  .header__navigation ul li {
    opacity: 0;
  }
  .header__navigation ul li a {
    color: #818498;
  }
  .header__navigation--burger {
    display: block;
  }
}

.nav-active {
  height: 40vh !important;
}

.nav-active::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  bottom: 100%;
  right: 0em;
  border: 1.75rem solid transparent;
  border-bottom-color: #fff;
  border-right-color: #fff;
  -webkit-filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, 0.1));
}

@media screen and (max-width: 511px) {
  .header {
    background-image: url("../images/mobile/image-header.jpg");
    width: 100%;
  }
  .header__navigation ul {
    width: 70%;
  }
}

.row {
  max-width: 1440px;
  margin: 0 auto;
}

.row:not(:last-child) {
  margin-bottom: 8rem;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.row [class^="col-"] {
  float: left;
}

.row .col-1-of-2 {
  width: 50%;
}

.row .col-1-of-3 {
  width: calc(100%/3);
}

.row .col-2-of-3 {
  width: calc((2* ((100% - 2 * 6rem)/3)) + 6rem);
}

.row .col-1-of-4 {
  width: calc(100%/4);
}

.row .col-2-of-4 {
  width: calc((2* ((100% - 3 * 6rem)/4)) + 6rem);
}

.row .col-3-of-4 {
  width: calc((3* ((100% - 3 * 6rem)/4)) + 2* 6rem);
}

@media screen and (max-width: 600px) {
  .row .col-sm-1-of-1 {
    width: 100%;
  }
  .row .col-sm-1-of-2 {
    width: 50%;
  }
}

.footer {
  padding: 6rem;
  background-color: #8BCBBD;
  text-align: center;
}

.footer__logo {
  margin-bottom: 2rem;
  margin-left: 2rem;
}

.footer__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none;
}

.footer__navigation ul li {
  margin-left: 5rem;
  font-weight: 700;
}

.footer__navigation ul li a {
  text-decoration: none;
  font-size: 1.6rem;
  color: #458c7e;
}

.section-testomonial {
  padding: 15rem 10rem;
  text-align: center;
}

@media screen and (max-width: 992px) {
  .section-testomonial {
    padding: 5rem 1rem;
  }
}
/*# sourceMappingURL=main.css.map */