.footer{
    padding:6rem;
    background-color:#8BCBBD;
    text-align: center;
    &__logo{
        margin-bottom: 2rem;
        margin-left: 2rem;
    }

    
    &__navigation{
        display: flex;

        justify-content: center;
        align-items: center;

        ul{
            display: flex;
            align-items: center;
            flex-direction:row;
            list-style-type: none;
            
            li{ 
                margin-left: 5rem;
                font-weight: 700;
                
                a{
                    text-decoration: none;
                    font-size: 1.6rem;
                    color: $dark-cyan-2;
                }
            }
        }
       
    }
    
}